<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sample</title>
</head>
<body>
<center>
<H1>アップロード画面</H1>
ファイルを選択し，タイトル，タグを入力してください<br>
</head>
<form action="UploadController.php" method="post" enctype="multipart/form-data">
<table width="50%" border="0" align="center" cellpadding="8" cellspacing="1" bgcolor="#808080">
<tr>
<td bgcolor="#D4D0C8">ファイル</td>
<td bgcolor="#FFFFFF"><input type="file" name="upfile" size="30" maxlength="30"></td>
</tr>
<tr>
<td bgcolor="#D4D0C8">タイトル</td>
<td bgcolor="#FFFFFF"><input type="text" name="title" size="30" maxlength="30"></td>
</tr>
<tr>
<td bgcolor="#D4D0C8">タグ</td>
<td bgcolor="#FFFFFF"><input type="text" name="tag" size="30"></td>
</tr>
</table>
<input type="submit" name="submit" value="アップロード">
</form>
{{$message|escape}}<br>
<a href="SearchMovieController.php">戻る</a>
</center>
</body>
</html>

