<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset = "UTF-8">
<title>{{$video_info[0].title|escape}}動画</title>
<link rel = "stylesheet" type = "text/css" href = "http://49.212.163.77/movie/templates/css/VideoViewing.css">
</head>
<body>
<center>
<a href = "SearchVideoController">戻る</a><br><br>
<div>
{{$message|escape}}
</div>
{{foreach from = $video_info item = _video}}
<table width = 70% border = 0 cellpadding = 8 cellspacing = 1 bgcolor = #808080><tr>
<td bgcolor = D4D0C8>タイトル</td>
<td bgcolor = FFFFFF>{{$_video.title|escape}}</td>
</tr><tr>
<td bgcolor = D4D0C8>タグ</td>
<td bgcolor = FFFFFF>{{$_video.tag|escape}}</td>
</tr><tr>
<td bgcolor = D4D0C8>投稿者</td>
<td bgcolor = FFFFFF>{{$_video.usr|escape}}</td>
</tr><tr>
<td bgcolor = D4D0C8>再生回数</td>
<td bgcolor = FFFFFF>{{$_video.count|escape}}</td>
</tr>
</table>
{{/foreach}}
<div>
</div>
</center>
<canvas id = "canvasOne" width = "600" height = "300"></canvas>
<textarea id = "video_comment" readonly></textarea>
<script src = "http://49.212.163.77/movie/templates/js/modernizr-2.0.6.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type= "text/javascript">
window.addEventListener('load', eventWindowLoaded, false);
var count=0;
var videoElement;
var videoDiv;
var k = 0;
var timeID;
var messages = new Array();
var title = "{{$_video.url|escape}}";
var userAgent = window.navigator.userAgent.toLowerCase();
function eventWindowLoaded() {
	videoElement = document.createElement("video");
	videoDiv = document.createElement('div');
	document.body.appendChild(videoDiv);
	videoDiv.appendChild(videoElement);
	videoDiv.setAttribute("style", "display:none;");
	videoElement.addEventListener("canplaythrough", videoLoaded,false);
	videoElement.setAttribute("src", title);
}

function canvasSupport () {
	return Modernizr.canvas;
}

function videoLoaded() {
	canvasApp();
}

{{foreach from = $video_list key = k item = video}}
    {{if isset($video.comment)}}
	messages[{{$k}}] = {{$video.comment}};
    {{/if}}
{{/foreach}}
//コメントされた時間にsort
messages.sort(function(a,b) { return a.time -b.time;});
for (var i = 0; i < messages.length; i++) {
	$("#video_comment").append(messages[i].time + ":\t" + messages[i].message + "\n");
}

//Ajaxを使ってコメント情報をDBに登録する
$(function(){
		$('#btn').click(function(){
			var ss = {"time":videoElement.currentTime, "message":$("#comment").val(), "x":500, "y":50};
			messages[messages.length - 1] = ss;
			var data = {request: $("#comment").val(),
			time: videoElement.currentTime,
			max:  videoElement.duration};
			$.ajax({
				type: "POST",
				url : "CommentRecordController",
				data: data
			});
	      });
});

function canvasApp() {

	if (!canvasSupport()) {
		return;
	}

	function drawScreen() {

		//box
		context.strokeStyle="#FFFFFF";
		context.strokeRect(230, 0, theCanvas. width - 400, theCanvas.height);
		//video
		context.drawImage(videoElement, 200, 30);
		// Text
		context.fillStyle = "#000000";
		context.font = "12px sans";
		var time  = videoElement.currentTime;
		var total = videoElement.duration;
		context.fillText("" + time.toFixed(2) + "/" + total.toFixed(2), 300, 270);
	}

	function spreadComment() {
		var distance = 10;
		for (var i = 0; i < messages.length; i++) {
			var  length = context.measureText(messages[i].message).width;
			var velo = (length + distance) / length;
			if (videoElement.currentTime > messages[i].time) {
				if (i < messages.length - 1 ) {
					if (messages[i+1].x - messages[i].x > 20) {
						messages[i].x -= velo * 2.0;
						messages[i+1].x -= velo * 1.5;
					} else {
						messages[i].x -= velo * 1.5;
						messages[i+1].x -= velo * 2.0;
					}
				}
				context.font = "bold 16px sans";
				context.fillStyle = "#FFFFFF";
				context.fillText(messages[i].message, messages[i].x, messages[i].y);
			}
		}
	}

	function getIndicationNumberOfComments() {
		if (k < messages.length - 1) {
			if (videoElement.currentTime != 0 ) {
				if (messages[k].time - videoElement.currentTime < 0.01) {
					$("#video_comment").animate({scrollTop:$("#video_comment")[0].scrollHeight - $("video_comment").height()}, 18000);
					k++;
				}
			}
		}
	}

	//再生のelementの取得
	element = document.getElementById("play");
	element.onclick = function() {
		videoElement.play();
		//画面遷移
		if (videoElement.currentTime == videoElement.duration) {
			location.href = document.URL;
		}
		//再生回数をカウント
		if (videoElement.currentTime == 0) {
			count++;
			k = 0;
			{{foreach from = $video_list key = index item = video}}
			   {{if isset($video.comment)}}
				messages[{{$index}}] = {{$video.comment}};
			   {{/if}}
			{{/foreach}}

			for (var i = 0; i < messages.length; i++) {
				$("#video_comment").stop();
			}
			$("#video_comment").animate({scrollTop:0}, 'fast');
			$(function() {
					var data = {addCount: count,
					currentViewCount: "{{$_video.count|escape}}"};
					$.ajax({
						type: "POST",
						url : "ViewCountRecordController",
						data: data,
						success:function(data){
						    console.log(data);
						}
					});
		       });
		}
	} 
//一時停止のelementの取得
element = document.getElementById("pause");
element.onclick = function() {
	videoElement.pause();
	for (var i = 0; i < messages.length; i++) {
		$("#video_comment").stop();
	}
}

//停止のelementの取得(再生回数のリセット)
element = document.getElementById("stop");
element.onclick = function() {
	videoElement.currentTime = 0;
	videoElement.pause();
	for (var i = 0; i < messages.length; i++) {
		$("#video_comment").stop();
	}
	$("#video_comment").animate({scrollTop:0}, 'fast');
	count = 0;
	location.href=document.URL;
}
var theCanvas = document.getElementById('canvasOne');
var context = theCanvas.getContext('2d');
setInterval(drawScreen, 33);
setInterval(spreadComment, 33);
setInterval(getIndicationNumberOfComments, 33);
}
</script>
<center>
<input type = "button" id = "play" value = "play">
<input type = "button" id = "pause" value = "pause">
<input type = "button" id = "stop" value = "stop"><br>
<table width = "70%" border = "0" cellpadding = "8" cellspacing = "1" bgcolor = "#808080">
</center>
<center>
<tr>
<td bgcolor = "#D4D0C8">コメント</td>
<td bgcolor = "#FFFFFF"><input type = "text" align = "center" id = "comment" size = "30">
<input type = "button" id = "btn" value = "入力"></td>
</tr>
</center>
<center>
<tr>
<td bgcolor = "#D4D0C8">タグ</td>
<td bgcolor = "#FFFFFF"><input type = "text" name= "tag" align = "center" id = "tag" size = "30">
<input type = "button" id = "tagbtn" value = "入力"></td></tr>
</center>
<ul id = "result"></ul>
</table>
</body>
</html>
